appdirs==1.4.3
astroid==2.3.3
click==7.1.1
distlib==0.3.0
dnspython==1.16.0
env==0.1.0
filelock==3.0.12
Flask==1.1.1
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
node==0.9.25
odict==1.7.0
plumber==1.5
pylint==2.4.4
pymongo==3.10.1
six==1.14.0
virtualenv==20.0.10
Werkzeug==1.0.0
wrapt==1.11.2
zope.component==4.6.1
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.event==4.4
zope.hookable==5.0.1
zope.interface==5.0.2
zope.lifecycleevent==4.3
zope.proxy==4.3.5
