{% extends 'base.html' %} {% block content %}

<!-- Header -->
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">WonderCook</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">Food lovers share their magic tricks for a tasty meal!</h2>
            <div class="card text-white bg-dark amx-auto">
                <div class="card-header text-uppercase">
                    Access here to thousands of recipes!
                </div>
                <div class="card-body">
                    <p class="card-text">Create an account and endulge yourself in flavours</p>
                    <a href="{{ url_for('signup') }}" class="btn btn-primary my-2 my-sm-0">Sign Up</a>
                </div>


            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="about-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4">Explore the recipes from our food lovers</h2>
            </div>
        </div>
    </div>
</section>


{% endblock %}